<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="/asset/styles/estilos.css">
    <title>Inicio</title>
</head>
<body >   
  
  <nav  style="background-color: #44474779;">
    <div class="menuContainer ">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom ">
          <a href="/paneladm/index.PHP" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none ">
                <img src="/asset/img/rueditasconf.png" alt="configuracion.png" width="40" height="40">                
          </a> 
          <ul class="nav col-8 col-md-auto mb-2 justify-content-center mb-md-0 bg-icon ">        
            <body>
            <h4><a href="/views/resultados2.html" class="nav-link px-2 link-light">Resultados</a></h4>
            <h4><a href="/Index2.html" class="nav-link px-2 link-light">Inicio</a></h4>
            <h4><a href="/views/eventos2.html"  class="nav-link px-5 link-light" >Eventos </a></h4>
          </ul>
          <div class="col-md-3 text-end">
            <a href="/views/eventos2.html" class="btn btn-success" tabindex="-1" role="button" >Atras</a>
            <a href="/Index.html" class="btn btn-success" tabindex="-1" role="button" >Cerrar sesión</a>
            </div> 
        </header>
      </div>
    </nav>
    
    <h1 class="h1 text-center link-light">Forza Horizon Race</h1>
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/asset/img/FORZA/fr1.webp" class="d-block w-100 rounded" alt="lol1" width="15%" height="15%">
        </div>  
        <div class="carousel-item">
          <img src="/asset/img/FORZA/fr2.jpg" class="d-block w-100 rounded" alt="lol2" width="15%" height="15%">
        </div>
        <div class="carousel-item">
          <img src="/asset/img/FORZA/fr3.png" class="d-block w-100 rounded" alt="lol3" width="15%" height="15%">
        </div>
        <div class="carousel-item">
          <img src="/asset/img/FORZA/fr4.jpg" class="d-block w-100 rounded" alt="lol4" width="15%" height="15%">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    
    <p class="h3 text-center link-light">Sea usted bienvenido a este nuevo evento de Forza Horizon a continuacion la informacion necesaria para participar en esta comunidad Gamer</p>
    <p></p>
    <p></p>
    <p></p>
    <p class="h5 link-light">Apreciamos mucho el echo de que desee participar en torneos dentro de su universidad y en compañerismo con los 
      alumnos de la misma pero para poder ser participe de este gran evento es necesario cumplir con requisitos los cuales son minimos
      y pensados en que la participacion sea justa para todos los integrantes como: </p>
      <p></p>
      <p></p>
      <p></p>
    <ul class="h5 list-unstyled link-light">
      <ul>
        <li>El evento se desarrollara en modo carreras de forma individual</li>
       <li>Consola admitida: Xbox one. </li>
        <li>Ser nivel 20 como minimo </li>
        <li>Participación respetuosa de todos los integrantes.</li>
        <li>SIN BENEFICIOS: No tener ningun tipo de beneficio comercial al momento de participar en los torneos para generar ganancias monetarias  </li>
        <li>No ser patrocinado por alguna marca.</li>
      </ul>
      <p></p>
      <p></p>
      <p>De no cumplir con lo antes mencionado o querer realizar algun tipo de trampa sera dado de baja de la plataforma y del taller.</p>
      <p class="text-center">Por su atención y comprensión GRACIAS.</p>
      <div class="d-grid gap-2">
        <a href="../registrarseevento.html" class="btn btn-success" tabindex="-1" role="button" >Registrarse al evento</a>
      </div>

<div class="footerContainer">
    <footer class="py-3 my-4">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="/Index2.html" class="nav-link px-2 text-muted">Inicio</a></li>
        <li class="nav-item"><a href="/views/eventos2.html" class="nav-link px-2 text-muted">Eventos</a></li>
        <li class="nav-item"><a href="/views/resultados2.html" class="nav-link px-2 text-muted">Resultados</a></li>

    </ul>
    <p class="text-center text-muted">&copy; 2022 RAVENGAMES, Inc</p>
  </footer>
</div> 

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    
</body>
</html>