<ul class="nav">
    <li><a href="./index.html">Inicio</a></li>
    <li><a href="./diplomas.html">Diplomas</a>
        <ul>
            <li><a href="">Submenu1</a></li>
            <li><a href="">Submenu2</a></li>
            <li><a href="">Submenu3</a></li>
            <li><a href="">Submenu4</a>
                <ul>
                    <li><a href="">Submenu1</a></li>
                    <li><a href="">Submenu2</a></li>
                    <li><a href="">Submenu3</a></li>
                    <li><a href="">Submenu4</a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li><a href="./login.html">Iniciar Session</a>
        <ul>
            <li><a href="">Submenu1</a></li>
            <li><a href="">Submenu2</a></li>
            <li><a href="">Submenu3</a></li>
            <li><a href="">Submenu4</a></li>
        </ul>
    </li>
    <li><a href="./register.html">Registrarme</a></li>
</ul>