<div class="menuContainer ">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom ">
    <a href="" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none ">
          <img src="/asset/img/rueditasconf.png" alt="configuracion.png" width="40" height="40">
    </a> 
    <ul class="nav col-8 col-md-auto mb-2 justify-content-center mb-md-0 bg-icon ">
      <li><a href="./views/resultados2.html" class="nav-link px-2 link-dark">Resultados</a></li>
      <li><a href="/Index2.html" class="nav-link px-2 link-dark">Inicio</a></li>
      <li><p><img src="/asset/img/logotype5.png " width="130" height="130" alt="logo"></p></li>        
      <li><a href="./views/eventos2.html" class="nav-link px-2 link-dark">Eventos </a></li>
    </ul>
    <div class="col-md-3 text-end">
      <a href="/Index.html" class="btn btn-success" tabindex="-1" role="button" >Cerrar seción</a>
      </div> 
  </header>
</div>