<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="../asset/styles/estilos.css">

    <title>PANEL CONFIGURACION</title>
</head>
<body>
    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom ">
            <a href="/views/configuracion.html" >
                <img src="/asset/img/rueditasconf.png" alt="configuracion.png" width="40" height="40">
          </a> 
          <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0 bg-icon ">
            <li><a href="/views/resultados2.html" class="nav-link px-2 link-dark">Resultados</a></li>
            <li><a href="/Index2.html" class="nav-link px-2 link-dark">Inicio</a></li>
            <li><p><img src="/asset/img/logotype5.png " width="130" height="130" alt="logo"></p></li>        
            <li><a href="/views/eventos2.html" class="nav-link px-2 link-dark">Eventos </a></li>
    
          </ul>
          <div class="col-md-3 text-end">
            <a href="/Index.html" class="btn btn-success" tabindex="-1" role="button" >Cerrar sesión</a>
          </div> 
        </header>
      </div>
    <br><br><br>
    <form class="row g-3">

        <div class="col-md-8 text-center">
          <label for="nombre" class="form-label">Nombre</label>
          <input type="text" class="form-control" id="nombre" placeholder="Cambie su nombre">
        </div>
        <div class="col-md-8 text-center">
          <label for="apellidop" class="form-label">Apellido Paterno</label>
          <input type="text" class="form-control" id="apellidop" placeholder="Cambie su Apellido">
        </div>
        <div class="col-md-8 text-center">
          <label for="apellidomat" class="form-label">Apellido Materno</label>
          <input type="text" class="form-control" id="apellidomat" placeholder="Cambie su Apellido">
        </div>
        <div class="col-md-8 text-center">
          <label for="cuatri" class="form-label">Usuario</label>
          <input type="text" class="form-control" id="cuatri" placeholder="Cambie su nombre de usuario">
        </div>
        <div class="col-md-8 text-center">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="password" placeholder="Cambie su contraseña">
          </div>
        <div class="col-md-8 text-center">
          <label for="num" class="form-label">Telefono</label>
          <input type="int" class="form-control" id="int" placeholder="Cambie su numero telefonico">
        </div>

        <div
         class="col-md-3 text-center">
            <a href="/views/eventos2.html" class="btn btn-success" tabindex="-1" role="button" >Guardar cambios</a>
            
          </div> 

      