<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="../asset/styles/estilos.css">

    <title>CREAR EVENTOS</title>
</head>
<body>
    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom ">
          <a href="/views/configuracion.html" >
            <img src="/asset/img/rueditasconf.png" alt="configuracion.png" width="40" height="40">
      </a> 
          <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0 bg-icon ">
            <li><a href="/views/resultados2.html" class="nav-link px-2 link-dark">Resultados</a></li>
            <li><a href="/Index2.html" class="nav-link px-2 link-dark">Inicio</a></li>
            <li><p><img src="/asset/img/logotype5.png " width="130" height="130" alt="logo"></p></li>        
            <li><a href="/views/eventos2.html" class="nav-link px-2 link-dark">Eventos </a></li>
    
          </ul>
          <div class="col-md-3 text-end">
            <a href="/Index.html" class="btn btn-success" tabindex="-1" role="button" >Cerrar sesión</a>
          </div> 
        </header>
      </div>
    <br><br><br>
    <form class="row g-3">

        <div class="col-6 text-center">
          <label for="nombre" class="form-label">Nombre del Evento</label>
          <input type="text" class="form-control" id="nombre" placeholder="Asigne nombre a su Evento">
        </div>
        <div class="col-6 text-center">
          <label for="apellidop" class="form-label">Codigo Acceso</label>
          <input type="text" class="form-control" id="apellidop" placeholder="Access code">
        </div>
        <div class="col-6 text-center">
          <label for="apellidomat" class="form-label">Numero de Participantes</label>
          <input type="text" class="form-control" id="apellidomat" placeholder="Participantes del equipo">
        </div>
        <div class="col-6 text-center">
          <label for="cuatri" class="form-label">Nombre del Juego</label>
          <input type="text" class="form-control" id="cuatri" placeholder="Juego a participar">
        </div>
        <select id="categoria" class="form-select">
            <option selected>Selecciona la categoria </option>
            <option>First Person Shoter</option>
            <option>Carreras </option>
            <option>Deportes </option>
            <option>Acción </option>
    
          </select>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Descripción</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
        <div class="col-md-3 text-center">
            <a href="/views/eventos2.html" class="btn btn-success" tabindex="-1" role="button" >Crear Evento(s)</a>
            
          </div> 

</body>
</html>