<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="../asset/styles/estilos.css">

    <title>Eventos</title>
</head>
<body>
    
  <nav  style="background-color: #44474779;">
    <div class="menuContainer ">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom ">
          <a href="/paneladm/index.PHP" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none ">
                <img src="/asset/img/rueditasconf.png" alt="configuracion.png" width="40" height="40">                
          </a> 
          <ul class="nav col-8 col-md-auto mb-2 justify-content-center mb-md-0 bg-icon ">        
            <body>
            <h4><a href="/views/resultados2.html" class="nav-link px-2 link-light">Resultados</a></h4>
            <h4><a href="/Index2.html" class="nav-link px-2 link-light">Inicio</a></h4>
            <h4><a href="/views/eventos2.html"  class="nav-link px-5 link-light" >Eventos </a></h4>
          </ul>
          <div class="col-md-3 text-end">
            <a href="/Index.html" class="btn btn-success" tabindex="-1" role="button" >Cerrar sesión</a>
            </div> 
        </header>
      </div>
    </nav>


<div class="container-fluid align-content-center " style="padding: 20px;margin-left: 60px">
  <div class="row text-center">

<div class="col">
          <div class="card" style="width: 18rem;">
              <img src="/asset/img/apex.png" class="card-img-top" alt="apex.png">
              <div class="card-body">
                <h5 class="card-title">Evento APEX GOLD </h5>
                <h5 class="card-title">25-08-2022</h5>
                <p class="card-text">Eventos para jugadores nivel Oro, unicamente si cuenta con el rango podra competir</p>
                <a href="/views/eventosIDEusu/evento1.html" class="btn btn-success" >Detalles</a>
              </div>
            </div>
</div>

<div class="col">
          <div class="card" style="width: 18rem;">
              <img src="/asset/img/Gears3.png" class="card-img-top" alt="gears.png">
              <div class="card-body">
                <h5 class="card-title">Evento Gears3</h5>
                <h5 class="card-title">25-07-2022</h5>
                  <p class="card-text">Evento Gears of Wars 3 en duelo por equipo hasta terminar con todas las vidas del equipo contrario.</p>
                  <a href="/views/eventosIDEusu/evento2.html" class="btn btn-success">Detalles</a>
              </div>
            </div>
</div>

<div class="col">
          <div class="card" style="width: 18rem;">
              <img src="/asset/img/codmobile.png" class="card-img-top" alt="codmobile.png">
              <div class="card-body">
                <h5 class="card-title">Evento COD Moblie MASTER</h5>
                <h5 class="card-title">02-08-2022</h5>
                <p class="card-text">Evento para categoria Gran Maestro IV, nivel 120 como minimo.</p>
                <a href="/views/eventosIDEusu/evento3.html" class="btn btn-success">Detalles</a>
              </div>
            </div>
</div>

<div class="col">
        <div class="card" style="width: 18rem;">
            <img src="/asset/img/Fortnite.png" class="card-img-top" alt="fornite.png">
            <div class="card-body">
              <h5 class="card-title">Evento FORNITE BATTLE</h5>
              <h5 class="card-title">02-01-2023</h5>
              <p class="card-text">Se llevara acabo una partida en modo battle royal entre escuadras.</p>
              <a href="/views/eventosIDEusu/evento4.html" class="btn btn-success">Detalles</a>
            </div>
          </div>
</div>

<div class="col">
      <div class="card" style="width: 18rem;">
          <img src="/asset/img/lool.png" class="card-img-top" alt="lool.png">
          <div class="card-body">
            <h5 class="card-title">Evento League Of Legends Silver</h5>
            <h5 class="card-title">02-10-2022</h5>
            <p class="card-text">Eventos duelo por equipo 5 vs 5 .</p>
            <a href="/views/eventosIDEusu/evento5.html" class="btn btn-success">Detalles</a>
          </div>
        </div>
</div>

  <div class="col">
    <div class="card" style="width: 18rem;">
        <img src="/asset/img/warzon.png" class="card-img-top" alt="warzon.png">
        <div class="card-body">
          <h5 class="card-title">Evento COD-Warzon </h5>
          <h5 class="card-title">05-09-2022</h5>
          <p class="card-text">Batalla por escuadras.</p>
          <a href="/views/eventosIDEusu/evento6.html" class="btn btn-success">Detalles</a>
        </div>
      </div>
</div>

<div class="col">
  <div class="card" style="width: 18rem;">
      <img src="/asset/img/forza.png" class="card-img-top" alt="forza.png">
      <div class="card-body">
        <h5 class="card-title">Evento Forza Horizon </h5>
        <h5 class="card-title">15-08-2022</h5>
        <p class="card-text">Partida individual carreras Forza Horizon.</p>
        <a href="/views/eventosIDEusu/evento7.html" class="btn btn-success">Detalles</a>
      </div>
    </div>
</div>

<div class="col">
  <div class="card" style="width: 18rem;">
      <img src="/asset/img/f1.png" class="card-img-top" alt="f1.png">
      <div class="card-body">
        <h5 class="card-title">Evento F1 race</h5>
        <h5 class="card-title">21-09-2022</h5>
        <p class="card-text">Evento individual carreras en simulador F1</p>
        <a href="/views/eventosIDEusu/evento8.html" class="btn btn-success">Detalles</a>
      </div>
    </div>
</div>


</div>
  </div>
</div>










<br><br><br>
  <div class="container">
    <footer class="py-3 my-4">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="/Index2.html" class="nav-link px-2 text-muted">Inicio</a></li>
        <li class="nav-item"><a href="/views/eventos2.html" class="nav-link px-2 text-muted">Eventos</a></li>
        <li class="nav-item"><a href="/views/resultados2.html" class="nav-link px-2 text-muted">Resultados</a></li>

      </ul>
      <p class="text-center text-muted">&copy; 2022 RAVENGAMES, Inc</p>
    </footer>
  </div>






<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<script src="../sidebar/js/scripts.js"></script>
</body>
</html>