<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="../asset/styles/estilos.css">

    <title>Eventos</title>
</head>
<body>
    
  <div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom ">
      <a href="" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none ">
        <img src="/asset/img/rueditasconf.png" alt="configuracion.png" width="40" height="40">
  </a> 
      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0 bg-icon ">
        <li><a href="/views/resultados2.html" class="nav-link px-2 link-dark">Resultados</a></li>
        <li><a href="/Index2.html" class="nav-link px-2 link-dark">Inicio</a></li>
        <li><p><img src="../asset/img/logotype5.png " width="130" height="130" alt="logo"></p></li>        
        <li><a href="/views/eventos2.html" class="nav-link px-2 link-dark">Eventos </a></li>

      </ul>
      <div class="col-md-3 text-end">
        <a href="/Index.html" class="btn btn-success" tabindex="-1" role="button" >Cerrar secion</a>
    </header>
  </div>
<br><br><br>


<div class="container-fluid align-content-center " style="padding: 20px;margin-left: 60px">
  <div class="row text-center">

<div class="col">
          <div class="card" style="width: 18rem;">
              <img src="/asset/img/apex.png" class="card-img-top" alt="apex.png">
              <div class="card-body">
                <h5 class="card-title">Evento AP </h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="/views/eventos/evento1.html" class="btn btn-success-disable" >Detalles</a>
              </div>
            </div>
</div>

<div class="col">
          <div class="card" style="width: 18rem;">
              <img src="/asset/img/GeaarsOW.png" class="card-img-top" alt="gears.png">
              <div class="card-body">
                <h5 class="card-title">Evento Gear</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="/views/eventos/evento2.html" class="btn btn-success">Detalles</a>
              </div>
            </div>
</div>

<div class="col">
          <div class="card" style="width: 18rem;">
              <img src="/asset/img/codmobile.png" class="card-img-top" alt="codmobile.png">
              <div class="card-body">
                <h5 class="card-title">Evento COD Moblie</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="/views/eventos/evento3.html" class="btn btn-success">Detalles</a>
              </div>
            </div>
</div>

<div class="col">
        <div class="card" style="width: 18rem;">
            <img src="/asset/img/Fortnite.png" class="card-img-top" alt="fornite.png">
            <div class="card-body">
              <h5 class="card-title">Evento fornite</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-success">Detalles</a>
            </div>
          </div>
</div>

<div class="col">
      <div class="card" style="width: 18rem;">
          <img src="/asset/img/lool.png" class="card-img-top" alt="lool.png">
          <div class="card-body">
            <h5 class="card-title">Evento League of Legends</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-success">Detalles</a>
          </div>
        </div>
</div>

  <div class="col">
    <div class="card" style="width: 18rem;">
        <img src="/asset/img/warzon.png" class="card-img-top" alt="warzon.png">
        <div class="card-body">
          <h5 class="card-title">Evento Warzon </h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-success">Detalles</a>
        </div>
      </div>
</div>

<div class="col">
  <div class="card" style="width: 18rem;">
      <img src="/asset/img/forza.png" class="card-img-top" alt="forza.png">
      <div class="card-body">
        <h5 class="card-title">Evento AP </h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-success">Detalles</a>
      </div>
    </div>
</div>

<div class="col">
  <div class="card" style="width: 18rem;">
      <img src="/asset/img/f1.png" class="card-img-top" alt="f1.png">
      <div class="card-body">
        <h5 class="card-title">Evento Formula 1 2021 game</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-success">Detalles</a>
      </div>
    </div>
</div>

<div class="col">
  <div class="card" style="width: 18rem;">
      <img src="/asset/img/pubg.png" class="card-img-top" alt="pubg.png">
      <div class="card-body">
        <h5 class="card-title">Evento PUBG</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-success">Detalles</a>
      </div>
    </div>
</div>
  </div>
</div>










<br><br><br>
  <div class="container">
    <footer class="py-3 my-4">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="/Index2.html" class="nav-link px-2 text-muted">Inicio</a></li>
        <li class="nav-item"><a href="/views/eventos2.html" class="nav-link px-2 text-muted">Eventos</a></li>
        <li class="nav-item"><a href="/views/resultados2.html" class="nav-link px-2 text-muted">Resultados</a></li>

      </ul>
      <p class="text-center text-muted">&copy; 2022 RAVENGAMES, Inc</p>
    </footer>
  </div>






<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>