<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="../asset/styles/estilos.css">

    <title>Resultados</title>
</head>
<body>
    
  <div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom ">
      <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none ">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Logo"><use xlink:href="logo"/></svg>
      </a> 
      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0 bg-icon ">
        
        <li><a href="/views/resultados.html" class="nav-link px-2 link-dark">Resultados</a></li>
        <li><a href="/index.html" class="nav-link px-2 link-dark">Inicio</a></li>
        <li><p><img src="../asset/img/logotype5.png" width="130" height="130" alt="logo"></p></li>        
        <li><a href="/views/eventos.html" class="nav-link px-2 link-dark">Eventos </a></li>

      </ul>
      <div class="col-md-3 text-end">
        <a href="/views/iniciodecion.html" class="btn btn-success" tabindex="-1" role="button" >Iniciar sesión</a>
        <a href="/views/registro.html" class="btn btn-success" tabindex="-1" role="button" >Registrarse</a>
      </div> 
    </header>
  </div>
<br><br>

<p text-center >Estas en la sección de resultados, se muestran los resultados de los ultimos eventos recien jugados</p>

<br><br>

<table class="table">

    <thead>
      <tr>
        <th>JUEGO</th>
        <th>USUARIO(S) GANADORES</th>
        <th>FECHA</th>
        <th>EVENTO GANADO</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>nombre_de_juego</th>
        <th>nombre_de_usuario</th>
        <th>2022-07-01</th>
        <th>nombre_de_evento</th>
      </tr>
    </tbody>


</table>









<br><br><br>
  <div class="container">
    <footer class="py-3 my-4">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="/Index.html" class="nav-link px-2 text-muted">Inicio</a></li>
        <li class="nav-item"><a href="/views/eventos.html" class="nav-link px-2 text-muted">Eventos</a></li>
        <li class="nav-item"><a href="/views/resultados.html" class="nav-link px-2 text-muted">Resultados</a></li>

      </ul>
      <p class="text-center text-muted">&copy; 2022 RAVENGAMES, Inc</p>
    </footer>
  </div>






<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>